Source: proxmox-ve
Section: admin
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper-compat (= 13), lintian
Standards-Version: 4.6.2
Homepage: https://www.proxmox.com

Package: proxmox-ve
Architecture: all
Provides: proxmox-virtual-environment
Depends: apt,
         openssh-client,
         openssh-server,
         proxmox-archive-keyring,
         pve-kernel-6.2,
         pve-kernel-helper,
         pve-manager,
         pve-qemu-kvm,
         qemu-server,
         ${misc:Depends},
Description: Proxmox Virtual Environment
 The Proxmox Virtual Environment is an easy to use Open Source
 virtualization platform for running Virtual Appliances and Virtual
 Machines. This is a meta package which will install everything
 needed.

Package: pve-headers
Architecture: all
Depends: pve-headers-6.2, ${misc:Depends},
Description: Default Proxmox VE Kernel Headers
 This is a metapackage which will install the kernel headers for the
 current default kernel.
